@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
font: 20px 'Montserrat', sans-serif;
display:flex;
justify-content: center;
align-items: center;
height:100vh;
width:100vw;
}

.container{
background: #fcfcfc;
padding:10px;
border-radius: 10px;
box-shadow: 2px 5px 10px #34495e;
}

